body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin: 20px 0 10px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.button {
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 8px;
    border: 0px solid transparent;
    cursor: pointer;
    display: inline-block;
    margin: 6px 4px;
    font-weight: bold;
}

.sbiadito {
    opacity: 0.5;
    cursor: not-allowed;
}

.sbiadito:hover {
    opacity: 0.5;
}

.gray {
    background-color: #888;
    color: #fff;
}

.gray-light {
    background-color: #aaa;
    color: #fff;
}

.blue {
    background-color: #007bff;
    color: #fff;
}

.red {
    background-color: #ff4d4d;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.user-content {
    display: inline;
}

.green {
    background-color: #28a745;
    color: #fff;
}
